In [12]:
import pandas as pd

data = pd.read_csv("adult.csv")
data.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [13]:
print(data.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [14]:
import pandas as pd

data = pd.read_csv("adult.csv")

# Replace ? with NaN
data = data.replace("?", pd.NA)

# Drop missing rows
data = data.dropna()

data.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K
5,34,Private,216864,HS-grad,9,Divorced,Other-service,Unmarried,White,Female,0,3770,45,United-States,<=50K
6,38,Private,150601,10th,6,Separated,Adm-clerical,Unmarried,White,Male,0,3770,40,United-States,<=50K

In [15]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

for col in data.select_dtypes(include='object'):
    data[col] = encoder.fit_transform(data[col])

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

target = "income"

X = data.drop(target, axis=1)
y = data[target]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

baseline = RandomForestClassifier(random_state=42)
baseline.fit(X_train, y_train)

base_pred = baseline.predict(X_test)
base_acc = accuracy_score(y_test, base_pred)

print("Baseline Accuracy:", base_acc)

Baseline Accuracy: 0.848499917122493

In [17]:
# Feature engineering using your real column names

data["capital_total"] = data["capital.gain"] - data["capital.loss"]

data["work_hours_ratio"] = data["hours.per.week"] / (data["education.num"] + 1)

X_new = data.drop(target, axis=1)
y_new = data[target]

X_train_n, X_test_n, y_train_n, y_test_n = train_test_split(
    X_new, y_new, test_size=0.2, random_state=42
)

enhanced = RandomForestClassifier(random_state=42)
enhanced.fit(X_train_n, y_train_n)

enh_pred = enhanced.predict(X_test_n)
enh_acc = accuracy_score(y_test_n, enh_pred)

print("Enhanced Accuracy:", enh_acc)
print("Improvement:", enh_acc - base_acc)

Enhanced Accuracy: 0.8481684070943146
Improvement: -0.00033151002817832786